<div class="plan_banner">
    <div class="inner_plan_banner">
        <div class="banner_section">
            <div class="banner_image">
                <img src="../../../../../assets/img/foto.png" alt="" srcset="" class="desks_banss">
                <img src="../../../../../assets/img/mob_plan_img.png" alt="" srcset="" class="mobile_banss">
            </div>
            <div class="banner_content">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="col_head">
                                <h4>Find out about our plans</h4>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
