<div class="payment_sucess_response">
    <div class="payment_sucess_response_inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="full_sucess_msg">
                        <span>
<img src="../../../../assets/img/tick.png" alt="" srcset="">
</span>
                        <h3>Payment accept</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="profile_btn_area">
                            <button routerLink="/portal">My profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
