<div class="login_body">
    <div class="login_inner_body">

        <div class="login_content">
            <div class="inner_login_content">
                <div class="sucess_tiks">
                    <div class="inner_sucess_tick">
                        <img src="../../assets/img/tick.png" alt="" srcset="">
                    </div>
                </div>
                <div class="ticks_misg">
                    <p>
                        We will send password recovery<br>instructions to your email
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
