<div class="accept_main_wraper">
    <div class="accept_main_inner_wraper">
        <div class="container">
            <div class="row">
                <div class="col-xl-6  col-12"></div>
                <div class="col-xl-6  col-12">
                    <div class="accept_box">
                        <div class="inner_aceept_box">
                            <div class="logo_headers">
                                <img src="../../../../assets/img/logo.png" alt="" srcset="">
                            </div>
                            <div class="aceept__content">
                                <h4>WE HAVE WHAT YOU<br>ARE LOOKING 4</h4>
                                <p>By entering this site, I agree that I'm over 18 years old, and I have read and accept the TERMS OF SERVICE, COOKIES, POLICY and PRIVACY POLICY.</p>

                            </div>
                            <div class="btns_area">
                                <button class="accept_btn" routerLink="section">Yes, I agree - ENTER</button>
                            </div>
                            <div class="dis_agree">
                                <a href="" class="dis_agree">No, I disagree - LEAVE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
