@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.accept_main_wraper {
    background-image: url(../../../../assets/img/man.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

.accept_box {
    border-radius: 24px;
    background: #1F2127;
    padding: 70px 80px;
}

.aceept__content>h4 {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 16px;
}

.logo_headers {
    text-align: center;
}

.aceept__content>p {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
}

.logo_headers>img {
    width: 280px;
}

.logo_headers {
    margin-bottom: 40px;
}

.btns_area>button {
    border-radius: 32px;
    border: 1px solid var(--light-1004, rgba(255, 255, 255, 0.04));
    background: #2EC950;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.08) inset;
    padding: 8px 24px;
    color: var(--light-900100, #FFF);
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
}

.btns_area {
    text-align: center;
}

.accept_box {
    position: relative;
    z-index: 99999999;
    transform: translateY(50%);
}

.dis_agree>a {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.dis_agree {
    text-align: center;
}

.btns_area {
    margin-bottom: 30px;
}

.aceept__content>h4>span {
    color: #DA3A3F;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: unset;
}

@media only screen and (max-width: 1222px) and (min-width: 999px) {}

@media only screen and (max-width: 1658px) and (min-width: 1000px) {}

@media only screen and (max-width: 1002px) and (min-width: 665px) {}

@media only screen and (max-width: 664px) and (min-width: 300px) {
    .accept_main_wraper {
        background-image: url(../../../../assets/img/mob_ac_man.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        height: 100vh;
    }
    .accept_box {
        padding: 30px 30px;
    }
    .accept_box {
        position: absolute;
        transform: unset;
        bottom: 48px;
        left: 20px;
        right: 20px;
    }
    .logo_headers>img {
        width: 180px;
    }
    .accept_box {
        border-radius: 20px;
        background: #1F2127;
    }
    .aceept__content>h4 {
        font-size: 26px;
        margin-bottom: 16px;
    }
    .aceept__content>p {
        font-size: 14px;
        margin-bottom: 18px;
    }
    .btns_area {
        margin-bottom: 20px;
    }
    .logo_headers {
        margin-bottom: 30px;
    }
    .aceept__content>h4>span {
        color: #DA3A3F;
        font-family: Open Sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: unset;
    }
    .aceept__content>h4 {
        font-size: 17px;
    }
}


/* js_cont_justify */

@media only screen and (max-width: 1366px) and (min-width: 993px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 826px) and (min-width: 300px) {}

@media only screen and (max-width: 480px) and (min-width: 300px) {}

@media only screen and (max-width: 370px) and (min-width: 320px) {}

@media only screen and (max-width: 900px) and (min-width: 370px) {}

@media only screen and (max-width: 790px) and (min-width: 300px) {}

@media only screen and (max-width: 1920px) and (min-width: 1080px) {}

@media only screen and (max-width: 999px) and (min-width: 826px) {}

@media only screen and (max-width: 11200px) and (min-width: 1600px) {}

@media only screen and (max-width: 999px) and (min-width: 400px) {}

@media only screen and (max-width: 999px) and (min-width: 551px) {}

@media only screen and (max-width: 1382px) and (min-width: 1000px) {}

@media only screen and (max-width: 1480px) and (min-width: 1000px) {}

@media only screen and (max-width: 1524px) and (min-width: 1422px) {}

@media only screen and (max-width: 1657) and (min-width: 1524px) {}

@media only screen and (max-width: 11200px) and (min-width: 1400px) {}

@media only screen and (max-width: 1000px) and (min-width: 700px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 999px) and (min-width: 768px) {}

@media only screen and (max-width: 767px) and (min-width: 300px) {}

@media only screen and (max-width: 4999px) and (min-width: 999px) {}

@media only screen and (max-height: 4999px) and (min-height: 990px) {}
