<div class="profile_information_section">
    <div class="inner_profile_in">
        <div class="pgg_head">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="page_header">
                            <h3>Change passward</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_container">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="wrap_form">

                            <form action="">
                                <div class="form_sectinop">
                                    <div class="input_field_item">
                                        <label for="">Enter new password</label>
                                        <div class="inner_input_field_item">
                                            <input type="text" class="" placeholder="" value="**********1">
                                        </div>
                                    </div>
                                    <div class="input_field_item">
                                        <label for="">Confirme new password</label>
                                        <div class="inner_input_field_item">
                                            <input type="text" class="" placeholder="" value="**********1">
                                        </div>
                                    </div>

                                </div>

                                <div class="submit_field_item">

                                    <div class="inner_submit_field_item">
                                        <button>Save</button>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
