<div class="login_body">

    <div class="login_inner_body">
        <div class="login_header">
            <h4>Login</h4>
        </div>
        <div class="login_content">
            <div class="inner_login_content">
                <div class="input_fields">
                    <label for="">Email address</label>
                    <div class="inner_input_fields">
                        <input type="text" placeholder="" class="input_fld">
                    </div>
                </div>
                <div class="input_fields">
                    <label for="">Password</label>
                    <div class="inner_input_fields">
                        <input type="text" placeholder="" class="input_fld">
                    </div>
                </div>
                <div class="submit_btns_areas">
                    <div class="inner_submit_btns_areas">
                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <div class="inner_actions">
                                    <div class="bottomss only_mob">
                                        <div class="tc">
                                            <div class="checks_box_cover"><label><input  type="checkbox" name="dyes" value="Yes"> Remember me </label></div>
                                        </div>
                                    </div>
                                    <div class="topss">
                                        <button class="loginss">
      Login
    </button>
                                    </div>
                                    <div class="bottomss">
                                        <div class="tc">
                                            <div class="checks_box_cover"><label><input  type="checkbox" name="dyes" value="Yes"> Remember me </label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-12">
                                <div class="social_areassa">
                                    <div class="inner_social_areassa">
                                        <div class="top_social_areas">
                                            <div class="inner_top_social_areas">
                                                <ul>
                                                    <li><a href=""><span>
    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19" fill="none">
      <path d="M10.2792 10.6068L10.8493 7.19417H7.2831V4.98058C7.2831 4.04695 7.78137 3.13592 9.37863 3.13592H11V0.230583C11 0.230583 9.52856 0 8.12167 0C5.18457 0 3.26484 1.63437 3.26484 4.5932V7.19417H0V10.6068H3.26484V18.8566C4.59616 19.0478 5.95178 19.0478 7.2831 18.8566V10.6068H10.2792Z" fill="#1E232C"/>
    </svg>
  </span></a></li>
                                                    <li><a href=""><span>
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9924 4.74676C11.0856 3.89517 9.95022 3.45362 8.67284 3.45362C6.41793 3.45362 4.50198 4.97516 3.81588 7.02502L3.81632 7.02536C3.64285 7.54577 3.54032 8.09768 3.54032 8.67336C3.54032 9.24904 3.64285 9.80096 3.81632 10.3214L3.81214 10.3246L3.81552 10.3294C4.50157 12.3795 6.41756 13.9013 8.67266 13.9013C9.83959 13.9013 10.8252 13.5859 11.598 13.0655L14.4129 15.2496C12.9778 16.5743 11.0144 17.347 8.67266 17.347C5.28214 17.347 2.35702 15.3915 0.929842 12.5608L0.930251 12.5605C0.338977 11.3936 0 10.0769 0 8.67345C0 7.27006 0.338964 5.95335 0.930218 4.78649L0.929842 4.7862C2.35702 1.94759 5.28232 0 8.67284 0C11.0147 0 12.9701 0.859518 14.4762 2.26302L11.9924 4.74676ZM8.67351 10.4555V7.09646L16.8423 7.09655C16.9448 7.66422 17 8.25565 17 8.87067C17 11.5121 16.0538 13.7357 14.4137 15.2496L11.5988 13.0654C12.5213 12.4504 13.1364 11.5357 13.3414 10.4555H8.67351Z" fill="#1E232C"/>
                                                      </svg>
                                                    </span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="bottom_social_areas">
                                            <a (click)="sendDataToParent()" class="forgets">Forgot password?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
