<div class="profile_information_section">
    <div class="inner_profile_in">
        <div class="pgg_head">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="page_header">
                            <h3>Personal information</h3>
                            <p> This information will not appear on your profile for users</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_container">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="wrap_form">

                            <form action="">
                                <div class="form_sectinop">
                                    <div class="input_field_item">
                                        <label for="">Name</label>
                                        <div class="inner_input_field_item">
                                            <input type="text" class="" placeholder="" value="Luiz Dias">
                                        </div>
                                    </div>
                                    <div class="input_field_item">
                                        <label for="">Email address</label>
                                        <div class="inner_input_field_item">
                                            <input type="text" class="" placeholder="" value="luiz.dias@outlook.com">
                                        </div>
                                    </div>
                                    <div class="input_field_item">
                                        <label for="">Confirm email address</label>
                                        <div class="inner_input_field_item">
                                            <input type="text" class="" placeholder="" value="">
                                        </div>
                                    </div>
                                    <div class="input_field_item">
                                        <label for="">Phone number</label>
                                        <div class="inner_input_field_item">
                                            <input type="text" class="" placeholder="" value="+55 11 90000-0000">
                                        </div>
                                    </div>
                                </div>
                                <h4 class="change_pass" routerLink="change-password">Change passward</h4>
                                <div class="submit_field_item">

                                    <div class="inner_submit_field_item">
                                        <button>Save</button>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
