.page_header>h3 {
    color: #FFF;
    /* h3/bold/25px */
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 30px */
    margin-bottom: 12px;
}

.page_header>p {
    color: #FFF;
    /* h4/regular/16px */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 19.2px */
    margin-bottom: 0;
}

.page_header {
    margin-bottom: 55px;
}

.input_field_item>label {
    color: #FFF;
    /* h4/bold/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 15.6px */
    margin-bottom: 16px;
}

.input_field_item {
    margin-bottom: 24px;
}

.inner_input_field_item>input {
    border-radius: 5px;
    border: 1.5px solid #2E3643;
    background: #1E232C;
    padding: 14px 20px;
    width: 100%;
    color: #546178;
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 15.6px */
    outline: none;
}

h4.change_pass {
    color: #546178;
    /* h4/bold/16px */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 19.2px */
    margin-bottom: 0;
    margin-top: 0;
    display: block;
}

.form_sectinop {
    padding-bottom: 24px;
}

.inner_submit_field_item>button {
    border-radius: 10px;
    border: 2px solid var(--Red-primary, #DA3A3F);
    background: #A22327;
    padding: 12px 40px;
    color: var(--White-primary, #FFF);
    /* h4/bold/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 15.6px */
}

.inner_submit_field_item {
    margin-top: 20px;
    text-align: right;
}

.profile_information_section {
    padding: 60px 0px;
}

.change_pass {
    cursor: pointer;
}

@media only screen and (max-width: 790px) and (min-width: 300px) {
    .page_header {
        border-bottom: 1px solid rgba(84, 97, 120, 0.30);
        padding-bottom: 25px;
        margin-bottom: 30px !important;
    }
}
