<div class="banner">
    <div class="inner_banner">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide style="width: 100%;">
                <div class="banner_slide_item" style="width: 100%;">
                    <div class="inner_slide_banner_slide_item">
                        <img src="../../../../../assets/img/a1.png" alt="" srcset="">
                        <span class="video_play_btn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60ZM26.0805 41.5374L40.2411 33.1769C42.5863 31.7922 42.5863 28.2078 40.241 26.8231L26.0805 18.4626C23.8011 17.1168 21 18.8684 21 21.6395V38.3605C21 41.1316 23.8011 42.8832 26.0805 41.5374Z" fill="white" fill-opacity="0.6"/>
                          </svg>
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide style="width: 100%;">
                <div class="banner_slide_item" style="width: 100%;">
                    <div class="inner_slide_banner_slide_item">
                        <img src="../../../../../assets/img/a2.png" alt="" srcset="">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide style="width: 100%;">
                <div class="banner_slide_item" style="width: 100%;">
                    <div class="inner_slide_banner_slide_item">
                        <img src="../../../../../assets/img/a3.png" alt="" srcset="">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide style="width: 100%;">
                <div class="banner_slide_item" style="width: 100%;">
                    <div class="inner_slide_banner_slide_item">
                        <img src="../../../../../assets/img/a4.png" alt="" srcset="">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide style="width: 100%;">
                <div class="banner_slide_item" style="width: 100%;">
                    <div class="inner_slide_banner_slide_item">
                        <img src="../../../../../assets/img/a3.png" alt="" srcset="">
                    </div>
                </div>
            </ng-template>

        </owl-carousel-o>
    </div>
</div>