.banner {
    overflow-x: hidden !important;
}

.inner_slide_banner_slide_item {
    position: relative;
}

.video_play_btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.banner {
    background: #1A1C21;
    padding: 57px 0px;
}