<div class="action_page_form_body">
    <div class="mani_form_areas">
        <form action="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-12">
                        <div class="off_people_boxs">
                            <div class="off_people_boxs_inner">
                                <div class="input_custom_field_wraper">
                                    <div class="item_input_custom_field">
                                        <span>
                                          <img src="../../../assets/img/loc.svg" alt="" class="input_icon">
                                      </span>
                                        <input type="text" class="custom_input_field" placeholder="Search locations">
                                    </div>
                                    <div class="item_input_custom_field">
                                        <span>
                                        <img src="../../../assets/img/searchs.svg" alt="" class="input_icon">
                                    </span>
                                        <input type="text" class="custom_input_field" placeholder="Search by name">
                                    </div>
                                    <div class="item_input_custom_field">
                                        <span>
                                      <img src="../../../assets/img/tr.svg" alt="" class="input_icon">
                                  </span>
                                        <select name="" id="">
                                        <option value="">Sexual orientation </option>
                                      </select>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <div class="slider-container age_box">
                                            <span>Age</span>
                                            <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                                        </div>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <div class="slider-container height_box">
                                            <span>Height</span>
                                            <ngx-slider [(value)]="heightminValue" [(highValue)]="heightmaxValue" [options]="height"></ngx-slider>
                                        </div>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <div class="slider-container weight_box">
                                            <span>Height</span>
                                            <ngx-slider [(value)]="weightminValue" [(highValue)]="weightmaxValue" [options]="weight"></ngx-slider>
                                        </div>
                                    </div>

                                    <!-- select-size -->
                                    <div class="item_input_custom_field">

                                        <div class="inner_row_size">
                                            <span class="select_label">Size</span>
                                            <div class="radio-buttons">
                                                <label class="custom-radio">
                                                  <input type="radio" name="radio" checked>
                                                  <span class="radio-btn">
                                                    <div class="hobbies-icon">

                                                      <h3 class="">S</h3>
                                                      <h4>1 - 12</h4>
                                                      <h5>cm</h5>
                                                    </div>
                                                  </span>
                                                </label>
                                                <label class="custom-radio">
                                                      <input type="radio" name="radio" >
                                                      <span class="radio-btn">
                                                        <div class="hobbies-icon">
                                                          <h3 class="">M</h3>
                                                          <h4>13 - 15</h4>
                                                          <h5>cm</h5>
                                                        </div>
                                                      </span>
                                                    </label>
                                                <label class="custom-radio">
                                                <input type="radio" name="radio" >
                                                <span class="radio-btn">
                                                  <div class="hobbies-icon">
                                                    <h3 class="">L</h3>
                                                    <h4>16 - 19</h4>
                                                    <h5>cm</h5>
                                                  </div>
                                                </span>
                                              </label>
                                                <label class="custom-radio">
                                                <input type="radio" name="radio" >
                                                <span class="radio-btn">
                                                  <div class="hobbies-icon">
                                                    <h3 class="">XL</h3>
                                                    <h4>20 - 24</h4>
                                                    <h5>cm</h5>
                                                  </div>
                                                </span>
                                              </label>
                                                <label class="custom-radio">
                                                <input type="radio" name="radio" >
                                                <span class="radio-btn">
                                                  <div class="hobbies-icon">
                                                    <h3 class="">XXL</h3>
                                                    <h4>25 - 00</h4>
                                                    <h5>cm</h5>
                                                  </div>
                                                </span>
                                              </label>

                                            </div>
                                            <div class="radio-buttons thrd_cols">
                                                <label class="custom-radio">
                                                <input type="radio" name="radio2" >
                                                <span class="radio-btn tr_cols">
                                                  <div class="hobbies-icon">


                                                    <h5>New Guys</h5>
                                                  </div>
                                                </span>
                                              </label>
                                                <label class="custom-radio">
                                                    <input type="radio" name="radio2" >
                                                    <span class="radio-btn tr_cols">
                                                      <div class="hobbies-icon">

                                                        <h5>Most Reviwed</h5>
                                                      </div>
                                                    </span>
                                                  </label>
                                                <label class="custom-radio">
                                              <input type="radio" name="radio2" >
                                              <span class="radio-btn tr_cols">
                                                <div class="hobbies-icon">

                                                  <h5>Users with videos</h5>
                                                </div>
                                              </span>
                                            </label>


                                            </div>
                                            <div class="radio-buttons shape_cols_cols">
                                                <label class="custom-radio">
                                              <input type="radio" name="radio3" >
                                              <span class="radio-btn shape_cols">
                                                <div class="hobbies-icon">

<span>
<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
  <circle cx="4.73826" cy="4.90476" r="3.52381" stroke="#546178" stroke-width="1.7619"/>
</svg>
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
  <path d="M6.17853 0.952027L11.2498 11.2857L1.10729 11.2857L6.17853 0.952027Z" stroke="#546178" stroke-width="1.7619"/>
</svg>
</span>
                                                  <h5>Top</h5>
                                                </div>
                                              </span>
                                            </label>
                                                <label class="custom-radio">
                                                  <input type="radio" name="radio3" >
                                                  <span class="radio-btn shape_cols">
                                                    <div class="hobbies-icon">
                                                      <span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                                          <circle cx="4.73826" cy="4.90476" r="3.52381" stroke="#546178" stroke-width="1.7619"/>
                                                        </svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                                          <circle cx="5.35691" cy="4.90476" r="3.52381" stroke="#546178" stroke-width="1.7619"/>
                                                        </svg>
                                                      </span>
                                                      <span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                                          <path d="M6.17853 0.952027L11.2498 11.2857L1.10729 11.2857L6.17853 0.952027Z" stroke="#546178" stroke-width="1.7619"/>
                                                        </svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                                          <path d="M6.79755 12.048L1.72631 1.71428L11.8688 1.71428L6.79755 12.048Z" stroke="#546178" stroke-width="1.7619"/>
                                                        </svg>
                                                      </span>
                                                      <h5>Versatile</h5>
                                                    </div>
                                                  </span>
                                                </label>
                                                <label class="custom-radio">
                                            <input type="radio" name="radio3" >
                                            <span class="radio-btn shape_cols">
                                              <div class="hobbies-icon">
                                                <span>

                                                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                                    <circle cx="5.35691" cy="4.90476" r="3.52381" stroke="#546178" stroke-width="1.7619"/>
                                                  </svg>
                                                </span>
                                                <span>

                                                  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                                    <path d="M6.79755 12.048L1.72631 1.71428L11.8688 1.71428L6.79755 12.048Z" stroke="#546178" stroke-width="1.7619"/>
                                                  </svg>
                                                </span>
                                                <h5>Bottom</h5>
                                              </div>
                                            </span>
                                          </label>


                                            </div>



                                            <div class="item_input_custom_field">

                                                <input type="text" class="custom_input_field" placeholder="Breasts">
                                            </div>
                                            <div class="item_input_custom_field">

                                                <input type="text" class="custom_input_field" placeholder="Waist">
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-12">
                        <div class="off_people_boxs">
                            <div class="off_people_boxs_inner">
                                <div class="input_custom_field_wraper">

                                    <div class="item_input_custom_field">

                                        <input type="text" class="custom_input_field" placeholder="Hips">
                                    </div>
                                    <div class="item_input_custom_field">

                                        <input type="text" class="custom_input_field" placeholder="Butt">
                                    </div>
                                    <div class="item_input_custom_field">

                                        <select name="" id="">
                                      <option value="">Body hair </option>
                                    </select>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <select name="" id="">
                                    <option value="">Body type </option>
                                  </select>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <select name="" id="">
                                  <option value="">Nationality </option>
                                  <option value="">India </option>
                                  <option value="">Pakistan </option>
                                  <option value="">Usa </option>
                                </select>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <select name="" id="">
                                <option value="">Hair color </option>

                              </select>
                                    </div>
                                    <div class="item_input_custom_field ">

                                        <select name="" id="">
                              <option value="">Eye color </option>

                            </select>
                                    </div>
                                    <div class="item_input_custom_field ">

                                        <select name="" id="">
                            <option value="">Race</option>

                          </select>
                                    </div>
                                    <div class="item_input_custom_field mbc-3">

                                        <select name="" id="">
                          <option value="">Dowry</option>

                        </select>
                                    </div>
                                    <div class="item_input_custom_field ctcc_check">
                                        <div class="check_item">
                                            <label for="" class="main_label">Smoking</label>
                                            <div class="checks_box_cover">
                                                <label>
                                              <input type="checkbox" name="yes" value="Yes">
                                              Yes
                                            </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                            <input type="checkbox" name="no" value="No">
                                            No
                                          </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                                <input type="checkbox" name="Sometimes" value="Sometimes">
                                                Sometimes
                                              </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                              <input type="checkbox" name="Socially" value="Socially">
                                              Socially
                                            </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- next-check -->
                                    <div class="item_input_custom_field ctcc_check">
                                        <div class="check_item">
                                            <label for="" class="main_label">Drinking</label>
                                            <div class="checks_box_cover">
                                                <label>
                                            <input type="checkbox" name="dyes" value="Yes">
                                            Yes
                                          </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                          <input type="checkbox" name="dno" value="No">
                                          No
                                        </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                              <input type="checkbox" name="dSometimes" value="Sometimes">
                                              Sometimes
                                            </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                            <input type="checkbox" name="dSocially" value="Socially">
                                            Socially
                                          </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- next-check -->
                                    <div class="item_input_custom_field ctcc_check">
                                        <div class="check_item">
                                            <label for="" class="main_label">Tattoo</label>
                                            <div class="checks_box_cover">
                                                <label>
      <input type="checkbox" name="tyes" value="Yes">
      Yes
    </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
    <input type="checkbox" name="tno" value="No">
    No
  </label>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- next-check -->
                                    <div class="item_input_custom_field ctcc_check">
                                        <div class="check_item">
                                            <label for="" class="main_label">Piercings</label>
                                            <div class="checks_box_cover">
                                                <label>
                                                  <input type="checkbox" name="pyes" value="Yes">
                                                  Yes
                                                </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                                <input type="checkbox" name="pno" value="No">
                                                No
                                              </label>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- next-check -->
                                    <div class="item_input_custom_field ctcc_check">
                                        <div class="check_item">
                                            <label for="" class="main_label">Safe sex</label>
                                            <div class="checks_box_cover">
                                                <label>
                                                <input type="checkbox" name="syes" value="Yes">
                                                Yes
                                              </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                              <input type="checkbox" name="sno" value="No">
                                              No
                                            </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit_action_btns_areas">
                            <div class="submit_action_btns_areas_innere">
                                <button class="resat_btn">Reset Filters</button>
                                <button class="profiles_btn">Show 300+ Profiles</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6"></div>
                    <div class="col-xl-6"></div>
                </div>
            </div>
        </form>
    </div>
</div>
