<div class="portal_dash_board">
    <div class="inner_portal_dash_board">
        <div class="main_portal_dash_board container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <div class="side_ber">
                        <app-portal-side-ber></app-portal-side-ber>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="protal_page_section">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
