<div class="action_page_form_body">
    <div class="mani_form_areas">
        <form action="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-12">
                        <div class="off_people_boxs">
                            <div class="off_people_boxs_inner">
                                <div class="input_custom_field_wraper">
                                    <div class="item_input_custom_field">
                                        <span>
                                        <img src="../../../assets/img/loc.svg" alt="" class="input_icon">
                                    </span>
                                        <input type="text" class="custom_input_field" placeholder="Search locations">
                                    </div>
                                    <div class="item_input_custom_field">
                                        <span>
                                      <img src="../../../assets/img/searchs.svg" alt="" class="input_icon">
                                  </span>
                                        <input type="text" class="custom_input_field" placeholder="Search by name">
                                    </div>
                                    <div class="item_input_custom_field">
                                        <span>
                                    <img src="../../../assets/img/tr.svg" alt="" class="input_icon">
                                </span>
                                        <select name="" id="">
                                      <option value="">Sexual orientation </option>
                                    </select>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <div class="slider-container age_box">
                                            <span>Age</span>
                                            <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                                        </div>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <div class="slider-container height_box">
                                            <span>Height</span>
                                            <ngx-slider [(value)]="heightminValue" [(highValue)]="heightmaxValue" [options]="height"></ngx-slider>
                                        </div>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <div class="slider-container weight_box">
                                            <span>Height</span>
                                            <ngx-slider [(value)]="weightminValue" [(highValue)]="weightmaxValue" [options]="weight"></ngx-slider>
                                        </div>
                                    </div>

                                    <!-- select-size -->
                                    <div class="item_input_custom_field">

                                        <select name="" id="">
                                          <option value="">Waist</option>
                                        </select>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <select name="" id="">
                                        <option value="">Hips</option>
                                      </select>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <select name="" id="">
                                      <option value="">Butt</option>
                                    </select>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <select name="" id="">
                                    <option value="">Race</option>
                                  </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-12">
                        <div class="off_people_boxs">
                            <div class="off_people_boxs_inner">
                                <div class="input_custom_field_wraper">

                                    <div class="item_input_custom_field">

                                        <select name="" id="">
                                    <option value="">Body hair </option>
                                  </select>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <select name="" id="">
                                  <option value="">Body type </option>
                                </select>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <select name="" id="">
                                <option value="">Nationality </option>
                                <option value="">India </option>
                                <option value="">Pakistan </option>
                                <option value="">Usa </option>
                              </select>
                                    </div>
                                    <div class="item_input_custom_field">

                                        <select name="" id="">
                              <option value="">Hair color </option>

                            </select>
                                    </div>
                                    <div class="item_input_custom_field mbc-3">

                                        <select name="" id="">
                            <option value="">Eye color </option>

                          </select>
                                    </div>

                                    <div class="item_input_custom_field ctcc_check">
                                        <div class="check_item">
                                            <label for="" class="main_label">Smoking</label>
                                            <div class="checks_box_cover">
                                                <label>
                                            <input type="checkbox" name="yes" value="Yes">
                                            Yes
                                          </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                          <input type="checkbox" name="no" value="No">
                                          No
                                        </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                              <input type="checkbox" name="Sometimes" value="Sometimes">
                                              Sometimes
                                            </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                            <input type="checkbox" name="Socially" value="Socially">
                                            Socially
                                          </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- next-check -->
                                    <div class="item_input_custom_field ctcc_check">
                                        <div class="check_item">
                                            <label for="" class="main_label">Drinking</label>
                                            <div class="checks_box_cover">
                                                <label>
                                          <input type="checkbox" name="dyes" value="Yes">
                                          Yes
                                        </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                        <input type="checkbox" name="dno" value="No">
                                        No
                                      </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                            <input type="checkbox" name="dSometimes" value="Sometimes">
                                            Sometimes
                                          </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                          <input type="checkbox" name="dSocially" value="Socially">
                                          Socially
                                        </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- next-check -->
                                    <div class="item_input_custom_field ctcc_check">
                                        <div class="check_item">
                                            <label for="" class="main_label">Tattoo</label>
                                            <div class="checks_box_cover">
                                                <label>
    <input type="checkbox" name="tyes" value="Yes">
    Yes
  </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
  <input type="checkbox" name="tno" value="No">
  No
</label>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- next-check -->
                                    <div class="item_input_custom_field ctcc_check">
                                        <div class="check_item">
                                            <label for="" class="main_label">Piercings</label>
                                            <div class="checks_box_cover">
                                                <label>
                                                <input type="checkbox" name="pyes" value="Yes">
                                                Yes
                                              </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                              <input type="checkbox" name="pno" value="No">
                                              No
                                            </label>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- next-check -->
                                    <div class="item_input_custom_field ctcc_check">
                                        <div class="check_item">
                                            <label for="" class="main_label">Safe sex</label>
                                            <div class="checks_box_cover">
                                                <label>
                                              <input type="checkbox" name="syes" value="Yes">
                                              Yes
                                            </label>
                                            </div>
                                            <div class="checks_box_cover">
                                                <label>
                                            <input type="checkbox" name="sno" value="No">
                                            No
                                          </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit_action_btns_areas">
                            <div class="submit_action_btns_areas_innere">
                                <button class="resat_btn">Reset Filters</button>
                                <button class="profiles_btn">Show 300+ Profiles</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6"></div>
                    <div class="col-xl-6"></div>
                </div>
            </div>
        </form>
    </div>
</div>
