span.checkbox-tile {
    border-radius: 12px;
    overflow: hidden;
    background: rgba(84, 97, 120, 0.15);
}

.product_types_areas {
    border-radius: 12px 0px 0px 12px;
    background: #242932;
}

span.checkbox-label {
    border-radius: 0px 12px 12px 0px;
    background: #546178;
    display: block;
    padding: 25px 28px;
    text-align: center;
}

span.checkbox-icon {
    /* border-radius: 12px; */
    background: rgba(84, 97, 120, 0.15);
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 56px;
    padding-right: 32px;
}

span.checkbox-tile {
    display: flex;
    width: 100%;
}

span.checkbox-icon>h3 {
    color: #FFF;
    /* h3/bold/20px */
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 24px */
    margin-bottom: 0;
}

span.checkbox-icon>h4 {
    color: #FFF;
    /* h4/regular/16px */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 19.2px */
    margin-bottom: 0;
}

span.checkbox-label>h5 {
    color: #FFF;
    /* h4/bold/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 15.6px */
    margin-bottom: 0;
}

span.checkbox-label>h4 {
    margin-bottom: 0;
    color: #FFF;
    /* h4/bold/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 15.6px */
}


/* Default style reset */

input.checkbox-input {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
}

input.checkbox-input {
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    top: 54px;
    left: 24px;
}

input.checkbox-input::before,
input.checkbox-input::after {
    position: absolute;
    display: block;
    content: "";
}

input.checkbox-input::before {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 3px;
    border: 1.5px solid rgba(84, 97, 120, 0.30);
    background: #1E232C;
}

input.checkbox-input::after {
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #EE0027;
    border: 1.5px solid rgb(255, 255, 255);
    transition: opacity 0.3s;
    opacity: 0;
}

input.checkbox-input:checked+span.checkbox-tile>span.checkbox-label {
    background-color: #EE0027;
}

span.checkbox-tile {
    position: relative;
}

span.dumy_check {
    position: absolute;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 3px;
    border: 1.5px solid rgba(84, 97, 120, 0.30);
    background: #1E232C;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

span.dumy_check::before {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    left: 0;
    z-index: 9999;
}

input.checkbox-input:checked+span.checkbox-tile>span.dumy_check {
    background-color: #EE0027;
    border: 2px solid #fff;
}

.inner_product_types_areas {
    /* padding: 45px 75px; */
}

.product_types_areas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 75px;
}

.payment_pages_areas {
    background: #1E232C;
}

.hdd>h4 {
    color: #FFF;
    /* h3/bold/20px */
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 24px */
    margin-bottom: 0;
}

.inner_input_field>input,
.inner_input_field>select {
    border-radius: 5px;
    border: 1.5px solid rgba(84, 97, 120, 0.30);
    background: #1E232C;
    width: 100%;
    padding: 10px 20px;
}

.input_field {
    margin-bottom: 16px;
}

.form_header>h4 {
    color: #FFF;
    /* h3/bold/25px */
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 30px */
    margin-bottom: 8px;
}

.form_header>p {
    color: #FFF;
    /* h4/regular/16px */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 19.2px */
    margin-bottom: 26px;
}


/* Default style reset */

input.check_boxers {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
}

input.check_boxers {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    position: relative;
    border-radius: 3px;
    border: 1.5px solid rgba(84, 97, 120, 0.30);
    background: #1E232C;
    cursor: pointer;
}

input.check_boxers::before,
input.check_boxers::after {
    position: absolute;
    display: block;
    content: "";
}

input.check_boxers::before {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 3px;
    border: 1.5px solid rgba(84, 97, 120, 0.30);
    background: #1E232C;
}

input.check_boxers::after {
    top: 3px;
    left: 3px;
    bottom: 0;
    width: 10px;
    height: 6px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transform: rotate(-45deg);
    transition: opacity 0.3s;
    opacity: 0;
}

input.check_boxers:checked::after {
    opacity: 1;
}

.form__privacy>label {
    color: #FFF;
    /* h5/regular/10px */
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-left: 8px;
    /* 12px */
}

.form__privacy {
    display: flex;
    align-items: center;
}

.form__privacy_promo_code>label {
    color: rgba(255, 255, 255, 0.70);
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 15.6px */
    margin-right: 7px;
}

.form__privacy_promo_code>input {
    border-radius: 5px;
    border: 1.5px solid rgba(84, 97, 120, 0.30);
    background: #1E232C;
    width: 100%;
    padding: 10px 20px;
}

.form__privacy_promo_code {
    display: flex;
    align-items: center;
}

.form__privacy_promo_code>label {
    width: 35%;
}

.custom_bbgg {
    border-radius: 0px 12px 12px 0px;
    background: rgba(84, 97, 120, 0.20);
    padding: 50px 55px;
}

.custom_bbgg_blls {
    border-radius: 12px 0px 0px 12px;
    background: #242932;
}

.full_back>a {
    color: #FFF;
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 15.6px */
    text-decoration: none;
}

.full_back>a>span {
    margin-right: 5px;
}

.full_back {
    margin-top: 20px;
    margin-bottom: 24px;
}

.inner_input_field>select {
    color: rgba(255, 255, 255, 0.20);
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 15.6px */
}

.inner_input_field>select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

.inner_input_field>select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1.5px solid rgba(84, 97, 120, 0.30);
    background: #1E232C;
    background-image: url(../../../../assets/img/dd.svg);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 18px;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}

.buy_now>button {
    color: var(--White-primary, #FFF);
    /* h4/bold/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 15.6px */
    padding: 12px 50px;
    border-radius: 10px;
    background: #EE0027;
    border: none;
    outline: none;
    width: 100%;
}

.inner_input_field>.buy_now {
    padding-top: 8px;
}

.ffl>h4 {
    color: #FFF;
    text-align: left;
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    /* 15.6px */
}

.ffl {
    padding-top: 38px;
    padding-bottom: 60px;
}

.payment_pages_areas {
    background: #1E232C;
    min-height: 1000px;
}

span.cds {
    width: 25.5px;
    height: 17px;
    flex-shrink: 0;
    border-radius: 70.833px;
    border: 0.5px solid #FFF;
    background: var(--neutral-3, #262626);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 26px;
}

.inner_input_field.card_num {
    position: relative;
}

.inner_input_field.vals {
    position: relative;
}

span.vld {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.box_wrapes {
    position: relative;
}

.payment_sucess {
    background: #1E232C;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.puches_notification {
    background: #D7032B;
    padding: 14px 0px;
    text-align: center;
    position: absolute;
    left: -23px;
    right: -12px;
}

.puches_notification>h4 {
    color: #FFF;
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 15.6px */
    margin-bottom: 0;
}

.select_new_plan_page {
    position: relative;
}

.puches_notification>h4>span {
    margin-right: 12px;
    font-size: 14px;
}

.content_select_new_plan_page {
    padding-top: 74px;
}

h4.valid_label>span {
    color: #FFF;
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

h4.valid_label {
    color: #FFF;
    /* h4/bold/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 15.6px */
    margin-bottom: 23px;
}

.inner_cancel_plan>button {
    border-radius: 10px;
    border: 2px solid #313844;
    background: #282F39;
    padding: 12px 30px;
    line-height: 1;
    color: #546178;
    /* h4/bold/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 15.6px */
    outline: none;
}

.selected_plan_box {
    margin-bottom: 34px;
}

.col-xl-6.custom_bbgg_blls.desk_top_view {
    display: block;
}

.col-xl-6.custom_bbgg_blls.mobile_views {
    display: none;
}

.mobile_plan_popup {
    position: fixed;
    top: 50%;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a.close_plans {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 30px;
}

a.close_plans>span>svg {
    width: 30px;
}

.bg_dark {
    position: fixed;
    background: #000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(26, 28, 33, 0.80);
}

.mobile_plan_popup {
    z-index: 9;
}

@media only screen and (max-width: 1222px) and (min-width: 999px) {}

@media only screen and (max-width: 1658px) and (min-width: 1000px) {}

@media only screen and (max-width: 1002px) and (min-width: 665px) {}

@media only screen and (max-width: 664px) and (min-width: 300px) {
    .puches_notification {
        left: 0;
        right: -12px;
    }
    .hdd.llps>h4 {
        text-align: left !important;
    }
    input.checkbox-input {
        opacity: 0;
    }
    .product_types_areas {
        border-radius: 12px !important;
    }
    .col-xl-6.custom_bbgg_blls.desk_top_view {
        display: none;
    }
    .col-xl-6.custom_bbgg_blls.mobile_views {
        display: block;
    }
    .custom_bbgg_blls {
        width: 90%;
        margin: auto;
        border-radius: 12px !important;
        margin-bottom: 24px;
    }
    .product_types_areas {
        padding: 45px 10px;
    }
    .hdd>h4 {
        text-align: center;
    }
    input.checkbox-input {
        top: 63px;
        left: 25px;
    }
    .custom_bbgg {
        width: 90%;
        margin: auto;
        border-radius: 12px !important;
        padding: 24px 24px !important;
    }
    .form_header>h4 {
        font-size: 22px !important;
    }
    .form_header>p {
        font-size: 14px !important;
    }
    .form__privacy>label {
        line-height: unset !important;
    }
    span.checkbox-icon>h3 {
        font-size: 16px !important;
    }
    .hdd.ctts>h4 {
        margin-bottom: 24px !important;
    }
    span.checkbox-icon.tltt {
        padding-left: 25px;
    }
    .ffl>h4 {
        text-align: center !important;
    }
    a.plan_change {
        color: #546178;
        text-align: center;
        /* h4/regular/13px */
        font-family: Open Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        /* 15.6px */
        text-decoration: none;
        text-align: center;
    }
    .change_of_plan {
        text-align: center;
        margin-top: 20px;
        /* margin-left: 8px; */
    }
    .change_of_plan>a>span {
        margin-left: 8px;
    }
    span.checkbox-label.active_planss {
        background: #EE0027;
    }
}


/* js_cont_justify */

@media only screen and (max-width: 1398px) and (min-width: 993px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 826px) and (min-width: 300px) {}

@media only screen and (max-width: 480px) and (min-width: 300px) {}

@media only screen and (max-width: 370px) and (min-width: 320px) {}

@media only screen and (max-width: 900px) and (min-width: 370px) {}

@media only screen and (max-width: 790px) and (min-width: 300px) {}

@media only screen and (max-width: 1920px) and (min-width: 1080px) {}

@media only screen and (max-width: 999px) and (min-width: 826px) {}

@media only screen and (max-width: 11200px) and (min-width: 1600px) {}

@media only screen and (max-width: 999px) and (min-width: 400px) {}

@media only screen and (max-width: 999px) and (min-width: 551px) {}

@media only screen and (max-width: 1382px) and (min-width: 1000px) {}

@media only screen and (max-width: 1480px) and (min-width: 1000px) {}

@media only screen and (max-width: 1524px) and (min-width: 1422px) {}

@media only screen and (max-width: 1657) and (min-width: 1524px) {}

@media only screen and (max-width: 11200px) and (min-width: 1400px) {}

@media only screen and (max-width: 1000px) and (min-width: 700px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 999px) and (min-width: 768px) {}

@media only screen and (max-width: 767px) and (min-width: 300px) {}

@media only screen and (max-width: 4999px) and (min-width: 999px) {}

@media only screen and (max-height: 4999px) and (min-height: 990px) {}
