<div class="login_body">
    <div class="login_inner_body">
        <div class="login_header">
            <h4>Confirm your email address</h4>
        </div>
        <div class="login_content">
            <div class="inner_login_content">
                <div class="input_fields">
                    <label for="">Email address</label>
                    <div class="inner_input_fields">
                        <input type="text" placeholder="" class="input_fld">
                    </div>
                </div>

                <div class="submit_btns_areas">
                    <div class="inner_submit_btns_areas">
                        <div class="row">
                            <div class="col-xl-6 col-6">
                                <div class="inner_actions">
                                    <div class="topss">
                                        <button class="loginss" (click)="sendSucessToParent()">
                                          Send
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-6 col-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
