.time_box {
    display: flex;
    text-align: center;
    justify-content: center;
}

span.hours>h3 {
    color: var(--neutras-neutra-100, #FFF);
    /* h3/bold/31px */
    font-family: Open Sans;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 37.2px */
    margin-bottom: 0;
}

span.hours>h5 {
    color: var(--neutras-neutra-100, #FFF);
    text-align: center;
    /* h5/regular/10px */
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 12px */
    margin-bottom: 0;
}

span.colon {
    color: #EE0027;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Space Grotesk;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 28px */
    margin: 0px 15px;
}

.time_headers>h4 {
    color: var(--neutras-neutra-100, #FFF);
    text-align: center;
    /* h4/bold/16px */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 19.2px */
    margin-bottom: 6px;
    position: relative;
}

.time_headers>h4::after {
    content: '';
    position: absolute;
    width: 61px;
    height: 1px;
    background: #EE0027;
    right: 0;
    top: 50%;
    /* left: 17px; */
    transform: translateY(-50%);
}

.time_headers>h4::before {
    content: '';
    position: absolute;
    width: 61px;
    left: 0;
    height: 1px;
    background: #EE0027;
    top: 50%;
    /* left: 17px; */
    transform: translateY(-50%);
}

.time_headers {
    width: 300px;
}

.personal_information_page {
    padding-top: 60px;
}

.per_sonal_page_header {
    margin-bottom: 100px;
}

.time_headers {
    margin: 0px auto;
}

.img_box {
    border-radius: 12px;
    background: #D9D9D9;
    overflow: hidden;
    position: relative;
}

.img_box>img {
    width: 100%;
}

button.pp_links {
    border-radius: 10px;
    border: 1px solid #DA3A3F;
    background: #A22327;
    padding: 15px 13px;
    color: var(--White-primary, #FFF);
    /* h4/bold/16px */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 19.2px */
    outline: none;
    position: absolute;
    z-index: 999999;
    bottom: 19px;
    left: 24px;
    right: 24px;
}

.king_box {
    border-radius: 3px;
    background: #EE0027;
    padding: 7px 13px;
    width: 64px;
    height: 24px;
    /* position: absolute; */
    flex-shrink: 0;
    left: 24px;
    top: 24px;
}

span.king_text {
    color: #FFF;
    /* h5/bold/10px */
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 12px */
}

span.king_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4px;
    justify-content: center;
}

span.king_icon>svg {
    margin-top: 2px;
}

.inner_king_box {
    display: flex;
    align-items: center;
}

.profile_content_header>h4 {
    color: #FFF;
    /* h3/bold/31px */
    font-family: Open Sans;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 37.2px */
    margin-bottom: 0;
    margin-right: 16px;
}

.profile_content_header {
    display: flex;
    align-items: center;
}

.profile_rating_bar>h4 {
    color: #FFF;
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 15.6px */
    margin-bottom: 0;
}

.profile_rating_bar>h3 {
    color: #FFF;
    /* h3/black/20px */
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    /* 24px */
    margin-bottom: 0;
}

.profile_rating_bar {
    display: flex;
    align-items: center;
}

span.ratingss {
    margin-left: 20px;
    margin-right: 12px;
}

.profile_content_header {
    margin-bottom: 20px;
}

.col_content>h4 {
    color: rgba(255, 255, 255, 0.30);
    /* h4/bold/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 15.6px */
    margin-bottom: 0;
    margin-bottom: 6px;
}

.col_content>p {
    color: #FFF;
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 15.6px */
    margin-bottom: 0;
}

.box_mrm_information {
    display: flex;
}

.mem_icon {
    margin-right: 13px;
}

.mrm_information {
    display: flex;
}

.box_mrm_information {
    margin-right: 22px;
}

.profile_rating_bar {
    margin-bottom: 48px;
}

.location_content>h4 {
    color: #FFF;
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 15.6px */
    margin-bottom: 6px;
}

.location_content>h3 {
    color: #FFF;
    /* h4/bold/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 15.6px */
    margin-bottom: 0;
}

h4 {}

.inner_main_location_box {
    border-radius: 12px;
    background: rgba(217, 217, 217, 0.03);
    display: flex;
    padding: 16px 23px;
}

.main_location_box {
    width: 218px;
}

.location_icon {
    margin-right: 13px;
}

.mrm_information {
    margin-bottom: 44px;
}

.profile_content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.link_box input {
    border-radius: 5px;
    border: 1.5px solid #2E3643;
    background: #1E232C;
    width: 100%;
    padding: 14px 25px;
}

.link_box {
    position: relative;
}

.link_box>button {
    border-radius: 10px;
    border: 2px solid var(--Red-primary, #DA3A3F);
    background: #A22327;
    padding: 14px 22px;
    color: var(--White-primary, #FFF);
    /* h4/bold/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    height: 48px;
    line-height: 1;
    /* 15.6px */
    position: absolute;
    right: 0;
}

.link_box>button>span {
    margin-right: 12px;
}

.link_box input::placeholder {
    color: #546178;
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 15.6px */
}

.inner_bottom_link_information>label {
    color: #FFF;
    /* h4/bold/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 15.6px */
    margin-bottom: 16px;
}

.per_sonal_page_content {
    margin-bottom: 90px;
}

.link_box input {
    color: #546178;
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 15.6px */
}
