footer {
    background: linear-gradient(90deg, #1E232C 0%, #1A1C21 100%);
}

.footer_area {
    padding-top: 80px;
    padding-bottom: 70px;
}

.footer_content_inner>p {
    color: #DADADA;
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 15.6px */
    margin-bottom: 0;
}

.footer_logo {
    margin-bottom: 24px;
}

.footer_logo>img {
    width: 200px;
}

.footer_menus>ul {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}

.footer_menus>ul>li {
    margin-bottom: 15px;
}

.footer_menus>ul>li>a {
    color: #DADADA;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    /* 15.6px */
}

.social_media_content>ul>li {
    list-style: none;
    display: inline-block;
}

.social_media_content>ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

.social_media {
    float: right;
}

.social_media_header>h4 {
    color: #DADADA;
    /* h4/regular/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 15.6px */
    margin-bottom: 14px;
}

.social_media_content>ul>li>a {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background: #546178;
    border-radius: 100px;
    justify-content: center;
}

.social_media_content>ul>li {
    margin-right: 8px;
}

.social_media_content>ul>li>a.active_s_link {
    background-color: #EE0027;
}

.fct_txt>h4 {
    color: #DADADA;
    /* h5/regular/10px */
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 12px */
    margin-bottom: 0;
}

.crt_link>ul {
    text-align: right;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.crt_link>ul>li {
    display: inline-block;
    margin-left: 32px;
}

.crt_link>ul>li>a {
    text-decoration: none;
    color: #DADADA;
    /* h5/regular/10px */
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 12px */
}

.fct {
    padding: 48px 0px;
    border-top: 2px solid rgba(84, 97, 120, 0.50);
}

@media only screen and (max-width: 1222px) and (min-width: 999px) {}

@media only screen and (max-width: 1658px) and (min-width: 1000px) {}

@media only screen and (max-width: 1002px) and (min-width: 665px) {}

@media only screen and (max-width: 664px) and (min-width: 300px) {
    .footer_logo {
        text-align: center;
    }
    .footer_content_inner>p {
        text-align: center;
    }
    .footer_menus {
        display: none;
    }
    .social_media {
        float: unset !important;
        text-align: center;
        margin-top: 36px;
    }
    .fct_txt {
        text-align: center;
    }
    .crt_link>ul {
        text-align: center !important;
        margin-top: 18px;
    }
    .crt_link>ul>li {
        margin: 0 10px !important;
        padding-left: 0px !important;
    }
    .fct {
        padding-top: 36px !important;
        padding-bottom: 36px !important;
    }
    .footer_area {
        padding: 36px 0px !important;
    }
    .fct {
        width: 90%;
        margin: auto;
    }
}


/* js_cont_justify */

@media only screen and (max-width: 1398px) and (min-width: 993px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 826px) and (min-width: 300px) {}

@media only screen and (max-width: 480px) and (min-width: 300px) {}

@media only screen and (max-width: 370px) and (min-width: 320px) {}

@media only screen and (max-width: 900px) and (min-width: 370px) {}

@media only screen and (max-width: 790px) and (min-width: 300px) {}

@media only screen and (max-width: 1920px) and (min-width: 1080px) {}

@media only screen and (max-width: 999px) and (min-width: 826px) {}

@media only screen and (max-width: 11200px) and (min-width: 1600px) {}

@media only screen and (max-width: 999px) and (min-width: 400px) {}

@media only screen and (max-width: 999px) and (min-width: 551px) {}

@media only screen and (max-width: 1382px) and (min-width: 1000px) {}

@media only screen and (max-width: 1480px) and (min-width: 1000px) {}

@media only screen and (max-width: 1524px) and (min-width: 1422px) {}

@media only screen and (max-width: 1657) and (min-width: 1524px) {}

@media only screen and (max-width: 11200px) and (min-width: 1400px) {}

@media only screen and (max-width: 1000px) and (min-width: 700px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 999px) and (min-width: 768px) {}

@media only screen and (max-width: 767px) and (min-width: 300px) {}

@media only screen and (max-width: 4999px) and (min-width: 999px) {}

@media only screen and (max-height: 4999px) and (min-height: 990px) {}
