<div class="banner_section">
    <div class="inner_banner_section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="banner_content">
                        <h2><span>Aliquam sem eros, </span> fermentum vitae</h2>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="banner_hero_image">
                        <div class="banner_hero_images_inner">
                            <img src="../../../../../assets/img/body.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
