<div class="banner_section desk_banner">
    <div class="inner_banner_section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-6">
                    <div class="banner_content">
                        <h2><span>Aliquam sem eros, </span> fermentum vitae</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-6">
                    <div class="banner_hero_image">
                        <div class="banner_hero_images_inner">
                            <img src="../../../../../assets/img/body.png" alt="" class="desk">
                            <img src="../../../../../assets/img/mob_ban.png" alt="" class="mob">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile_banner">
    <div class="mobile_banner_inner">
        <div class="container">
            <div class="row">
                <div class="mobile_banner_shape">

                    <div class="row">
                        <div class="col-xl-6 col-6">
                            <div class="mob_banner_contents">
                                <div class="inner_mob_banner_contents">
                                    <h4>
                                        <span>Aliquam sem eros,</span> fermentum vitae
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6  col-6">
                            <div class="mob_ban_img">
                                <img src="../../../../../assets/img/mob_ban.png" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
