.plan_columns {
    padding-top: 40px;
    border-radius: 12px;
    background: #242932;
    padding-left: 35px;
    padding-right: 36px;
    padding-bottom: 60px;
}

.inner_plan_points>ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}

.inner_plan_points>ul>li {
    color: #FFF;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 190%;
    /* 22.8px */
}

.plan_points {
    border-radius: 12px;
    background: rgba(84, 97, 120, 0.10);
    padding: 15px 27px;
    margin-bottom: 24px;
    padding-left: 45px;
}

.inner_price_plan>ul {
    padding-left: 0 !important;
}

.add_to_cart_btn_area>button {
    border-radius: 8px;
    background: #EE0027;
    padding: 8px 38px;
    color: #FFF;
    /* h4/bold/13px */
    width: 100%;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 15.6px */
    border: none;
    outline: none;
}

.inner_price_plan>ul>li {}

.inner_price_plan>ul>li>.add_to_cart_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clo_label>h4 {
    color: #FFF;
    /* h4/bold/13px */
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 15.6px */
    margin-bottom: 0;
}

.inner_price_plan>ul {
    list-style: none;
    padding-left: 16px;
}

.inner_price_plan>ul>li {
    margin-bottom: 12px;
}

.inner_price_plan>ul>li>.add_to_cart_area {
    border-radius: 8px;
    background: rgba(84, 97, 120, 0.10);
}

.clo_label {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 27px;
    width: auto;
}

.inner_plan_points>ul>li {
    position: relative;
}

.inner_plan_points>ul>li::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-image: url(../../../../../assets/img/ticks.svg);
    background-size: cover;
    background-repeat: no-repeat;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
}

.inner_plan_header>h4 {
    color: #FFF;
    /* h3/bold/20px */
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 24px */
    margin-bottom: 0;
}

.inner_plan_header {
    text-align: center;
    margin-bottom: 27px;
}

span.bar_icons {
    margin-right: 16px;
}

button.add_to_cart_btn>span {
    margin-right: 8px;
}

.plan_section {
    padding-top: 60px;
    padding-bottom: 48px;
}
