<div class="man_sign_up_page">
    <div class="inner_main_pages">
        <div class="container">
            <div class="row">
                <div class="full_main_pagess">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="full_page_headings">
                                <h2>
                                    Create your account
                                </h2>
                                <p>Fill in all fields carefully</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="step_box">
        <router-outlet></router-outlet>
    </div>
</div>
